/* 🌬️📥 TailwindCSS */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
--color-primary: #0E1629;
--color-primary-dark: #080D19;
--color-secondary: #00BFA6;
}

